local {{super.class}} = import '{{root}}.{{super.pkg}}.{{super.class}}'

namespace '{{root}}.{{pkg}}' {
    ---
    -- @class {{root}}.{{pkg}}.{{class}}
    -- @display …{{pkg}}.{{class}}
    -- @inherits {{root}}.{{super.pkg}}.{{super.class}}
    --
    -- **Subclasses**
    --
    {{#subclasses}}
    -- @{{openbrace}}{{root}}.{{pkg}}.{{class}}|{{class}}{{closebrace}}{{#comma}},{{/comma}}
    {{/subclasses}}
    class '{{class}}',
    extends '{{root}}.{{super.pkg}}.{{super.class}}' {

        --- Details.
        -- {{details}}
        -- @section Details

        --- API.
        --- @section API

        --- constructor
        -- @display {{class}}
        {{#super}}
        {{#props}}
        -- @tparam {{type}} {{var}} {{desc}}
        {{/props}}
        {{/super}}
        {{#props}}
        -- @tparam {{type}} {{var}} {{desc}}
        {{/props}}
        -- @treturn {{root}}.{{pkg}}.{{class}}
        new = function(self{{#super}}{{#props}}, {{var}}{{/props}}{{/super}}{{#props}}, {{var}}{{/props}})
            {{super.class}}.new(self{{#super}}{{#props}}, {{var}}{{/props}}{{/super}})
            {{#props}}
            self.{{var}} = {{var}}
            {{/props}}
        end,
        {{#props}}

        --- {{var}} getter
        -- @display get{{access}}
        -- @treturn {{type}} {{var}} {{desc}}
        get{{access}} = function(self)
            return self.{{var}}
        end,

        --- {{var}} setter
        -- @display set{{access}}
        -- @tparam {{type}} {{var}} {{desc}}
        set{{access}} = function(self, {{var}})
            self.{{var}} = {{var}}
        end,
        {{/props}}
    },
}
